<!DOCTYPE html>
<html lang="en">
<head id="master-head">
    <title>Home | MauDonate</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#822BD9">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="icon"  href="/img/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/main.css">

    <style>
        .settings-header {
            text-align: center;
            margin-bottom: 1.5rem;
        }


        .request-card, .delivery-card, .modal-content {
            margin: 2px;
            border-radius: 10px;
        }
        .request-card {
            background-color: var(--primary-color-lighter);
        }
        .modal-content {
            background-color: var(--main-color-lighter);
        }
        .delivery-card {
            background-color: var(--delivery-card);
            background-image: url('/img/warehouse_bg.png');
            background-size: cover;
            background-position-x: -100px; background-position-y: -20px;
            background-repeat: no-repeat;
            border: var(--secondary-color) 3px solid;
            cursor: pointer;
            text-decoration: none;
        }
        .delivery-card:hover {
            box-shadow: whitesmoke 0 0 5px;
        }
    </style>
</head>

<body>

<!-- Main Header -->
<header th:replace="/fragments/header :: mainHeader" id="master-header"></header>

<main class="page-wrap" id="pageWrap">
    <div class="page-carousel" id="pageCarousel">

        <!-- PAGE 1 -->
        <section class="page">

        </section>

        <!-- PAGE 2 -->
        <section class="page">
            <p style="justify-content: center; align-items: center; text-align: center; padding: 30px;" th:if="${unapproved_reqs.isEmpty()}">No one has reached out yet.</p>
            <div th:if="${successReq}" class="alert alert-success" th:text="${successReq}"></div>
            <div th:each="req : ${unapproved_reqs}" class="request-card card mb-3">
                <div class="card-body">
                    <div class="text-muted d-flex align-items-center">
                        <h5 th:text="${req.getUser().getFirstName() + ' ' + req.getUser().getLastName()}"></h5>
                        <h5 class="ms-auto" th:text="${'Goal: Rs ' + req.GoalAmount}"></h5>
                    </div>
                    <h6 class="mb-0 fw-bold" th:text="${req.Title}"></h6>
                    <p th:text="${req.Message}"></p>
                    <div class="text-muted d-flex align-items-center">
                        <small th:text="${'Created at ' + req.CreatedAt}"></small>
                        <button class="ms-auto btn btn-primary" style="min-width: 75px;" onclick="showRequestValidationPopup(this, true)" th:req-id="${req.ID}">Accept</button>
                        <button class="ms-2 btn btn-primary" style="min-width: 75px;" onclick="showRequestValidationPopup(this, false)" th:req-id="${req.ID}">Deny</button>
                    </div>
                </div>
            </div>
        </section>

        <!-- PAGE 3 -->
        <section class="page">
            <a th:each="ware : ${warehouses}" th:href="${'/admin/warehouse/' + ware.ID}" class="delivery-card card mb-3" draggable="false">
                <div class="card-body">
                    <div class="text-muted d-flex align-items-center">
                        <h5 th:text="${ware.Name}"></h5>
                        <img class="ms-auto m-1" src="/img/delivery_box_w.png" height="26" alt="box.png">
                        <h5 class="mb-0" th:text="${ware.CapacityUtilization + '/' + ware.MaxCapacity}"></h5>
                    </div>
                    <div class="text-muted d-flex">
                        <div class="row">
                            <small class="mb-0" th:text="${ware.Address}"></small>
                            <small class="mb-0 fw-bold" th:text="${ware.Region}"></small>
                        </div>
                        <h1 class="ms-auto mt-auto mb-0" th:text="${ware.getUtilizationRate() + '%'}"></h1>
                    </div>
                </div>
            </a>
            <a th:each="ware : ${warehouses}" th:href="${'/admin/warehouse/' + ware.ID}" class="delivery-card card mb-3" draggable="false">
                <div class="card-body">
                    <div class="text-muted d-flex align-items-center">
                        <h5 th:text="${ware.Name}"></h5>
                        <img class="ms-auto m-1" src="/img/delivery_box_w.png" height="26" alt="box.png">
                        <h5 class="mb-0" th:text="${ware.CapacityUtilization + '/' + ware.MaxCapacity}"></h5>
                    </div>
                    <div class="text-muted d-flex">
                        <div class="row">
                            <small class="mb-0" th:text="${ware.Address}"></small>
                            <small class="mb-0 fw-bold" th:text="${ware.Region}"></small>
                        </div>
                        <h1 class="ms-auto mt-auto mb-0" th:text="${ware.getUtilizationRate() + '%'}"></h1>
                    </div>
                </div>
            </a>
        </section>

        <!-- PAGE 4 -->
        <section class="page">
            <h2 class="settings-header">Database Accessor</h2>

            <form id="databaseForm">
                <div class="mb-3">
                    <label for="table" class="form-label">Table</label>
                    <select id="table" onchange="addSelect()" class="form-select">
                        <option value="" disabled selected>- Public -</option>
                        <option value="User">User Accounts</option>
                        <option value="Donation_Request">Donation request</option>
                        <option value="Donation">Donations</option>
                        <option value="Fundraising">Fundraising</option>
                        <option value="Association">Association</option>
                        <option value="Campaign">Campaigns</option>
                        <option value="" disabled selected>- Private -</option>
                        <option value="Staff">Staffs</option>
                        <option value="Vehicle">Vehicles</option>
                        <option value="Warehouse">Warehouses</option>
                        <option value="Trip">Trips</option>
                        <option value="" disabled selected>- Other -</option>
                        <option value="Email_Verification">Email verifications</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="ID" class="form-label">ID</label>
                    <select id="IDs" class="form-control mb-2 d-none"></select>
                    <input type="text" id="ID" maxlength="16" class="form-control">
                </div>

                <div class="mb-3">
                    <h5 class="form-label">Database information:</h5>
                    <p class="mb-0" th:text="${'Table count: ' + dbstat.totalTables}"></p>
                    <p class="mb-0" th:text="${'Total rows: ' + dbstat.totalRows}"></p>
                </div>
                <div class="mb-3 d-none tablestat" th:id="'IDTable_' + ${table.key}" th:each="table : ${dbstat.tableRowCounts.entrySet()}">
                    <h5 class="form-label">Table information:</h5>
                    <p class="mb-0" th:text="${'Name: ' + table.key}"></p>
                    <p class="mb-0" th:text="${'Rows count: ' + table.value}"></p>
                </div>

                <div id="error" class="alert alert-danger d-none">Please select and input values.</div>

                <button type="submit" class="btn btn-primary w-100">Go to entry</button>

                <script>
                    const error = document.getElementById('error');
                    const table = document.getElementById('table');
                    const id = document.getElementById('ID');
                    const ids = document.getElementById('IDs');

                    function addSelect() {
                        fetch('/admin/list/' + table.value)
                            .then(res => res.json())
                            .then(data => {
                                document.querySelectorAll(".tablestat").forEach(el => el.classList.add("d-none"));
                                document.getElementById("IDTable_" + table.value.toLowerCase()).classList.remove('d-none');
                                ids.classList.remove('d-none');
                                ids.innerHTML = '<option value="" disabled selected>- Select an item -</option>';
                                data.forEach(item => {
                                    if (table.value === 'Donation_Request' || table.value === 'Fundraising' || table.value === 'Campaign' || table.value === 'Notification') {
                                        ids.innerHTML += `<option value="${item.ID}">${item.ID} - ${item.Title}</option>`;
                                    }
                                    else if (table.value === 'Warehouse' || table.value === 'Vehicle' || table.value === 'Association') {
                                        ids.innerHTML += `<option value="${item.ID}">${item.ID} - ${item.Name}</option>`;
                                    }
                                    else if (table.value === 'User' || table.value === 'Staff') {
                                        ids.innerHTML += `<option value="${item.ID}">${item.ID} - ${item.FirstName} - ${item.LastName}</option>`;
                                    }
                                    else if (table.value === 'User' || table.value === 'Staff') {
                                        ids.innerHTML += `<option value="${item.ID}">${item.ID} - ${item.FirstName} - ${item.LastName}</option>`;
                                    } else {
                                        ids.classList.add('d-none');
                                    }
                                })
                        });
                    }

                    document.getElementById('databaseForm').addEventListener('submit', function (e) {
                        e.preventDefault();
                        if (table.value && (id.value || ids.value)) {
                            error.classList.add('d-none');
                            window.location.href = '/admin/edit/' + table.value + '/' + (id.value ? id.value : ids.value);
                        } else {
                            error.classList.remove('d-none');
                        }
                    });

                    id.addEventListener("input", () => {
                        ids.disabled = !!id.value;
                    });
                </script>
            </form>
        </section>

    </div>

    <form class="modal fade" id="reqValidationModal" tabindex="-1" method="post">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reqValidationTitle"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-2">
                        <label for="reqValidationMessage" class="form-label">Response Message</label>
                        <textarea id="reqValidationMessage" name="message" class="form-control"></textarea>
                    </div>
                    <div class="d-flex">
                        <button class="ms-auto btn btn-success" type="submit">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script>
        const reqTitle = document.getElementById("reqValidationTitle")
        function showRequestValidationPopup(button, accept) {
            const modal = new bootstrap.Modal(document.getElementById("reqValidationModal"));
            if (accept) {
                reqTitle.innerText = "Accept donation request";
                modal.action = "/admin/request/validate/" + button.getAttribute("req-id") + "/accept";
            } else {
                reqTitle.innerText = "Deny donation request";
                modal.action = "/admin/request/validate/" + button.getAttribute("req-id") + "/deny";
            }
            modal.show();
        }
    </script>
</main>

<!-- Scripts -->
<script src="/js/app.js"></script>
<script src="/js/pagecarousel.js"></script>

<script src="/pwa-init.js"></script>



<div th:replace="/fragments/bottom-nav-admin :: adminBottomNav" id="bottomNav"></div>

</body>
</html>