<!DOCTYPE html>
<html lang="en">
<head id="master-head">
    <title>Home | MauDonate</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#822BD9">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="icon"  href="/img/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/main.css">

    <style>
        body {
            min-height: 100vh;
            margin: 0;
            display: flex;
            flex-direction: column;
        }

        main {
            flex: 1;
            width: 100%;
            background: var(--primary-color);
        }

        .page-wrap {
            inset: 0;
            overflow: hidden;
        }
        .page-carousel {
            display: flex;
            height: 100%;
            transition: transform .28s ease;
        }
        .page {
            padding: 15px 20px;
            min-width: 100%;
            height: 100%;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
        }


        .settings-header {
            text-align: center;
            margin-bottom: 1.5rem;
        }
    </style>
</head>

<body>

<!-- Main Header -->
<header th:replace="/fragments/header :: mainHeader" id="master-header"></header>

<main class="page-wrap" id="pageWrap">
    <div class="page-carousel" id="pageCarousel">

        <!-- PAGE 1 -->
        <section class="page">

        </section>

        <!-- PAGE 2 -->
        <section class="page">
            <p style="justify-content: center; align-items: center; text-align: center; padding: 30px;" th:if="${unapproved_reqs.isEmpty()}">No one has reached out yet.</p>
            <div th:each="req : ${unapproved_reqs}" class="request-card card mb-3">
                <div class="card-body">
                    <div class="text-muted d-flex align-items-center">
                        <h5 th:text="${req.getUser().getFirstName() + ' ' + req.getUser().getLastName()}"></h5>
                        <h5 class="ms-auto" th:text="${'Goal: Rs ' + req.GoalAmount}"></h5>
                    </div>
                    <h6 th:text="${req.Title}"></h6>
                    <p th:text="${req.Message}"></p>
                    <div class="text-muted d-flex align-items-center">
                        <small th:text="${'Created at ' + req.CreatedAt}"></small>
                        <form th:action="${'/admin/donation/' + req.ID + '/accept'}" method="post" class="d-inline">
                            <button type="submit" class="ms-auto btn btn-success">Accept</button>
                        </form>
                        <form th:action="${'/admin/donation/' + req.ID + '/deny'}" method="post" class="d-inline">
                            <button type="submit" class="ms-auto btn btn-danger">Deny</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- PAGE 3 -->
        <section class="page">
            <h2 class="settings-header">Database Accessor</h2>

            <form id="databaseForm">
                <div class="mb-3">
                    <label for="table" class="form-label">Table</label>
                    <select id="table" onchange="addSelect()" class="form-select">
                        <option value="" disabled selected>- Public -</option>
                        <option value="User">User Accounts</option>
                        <option value="Donation_Request">Donation request</option>
                        <option value="Donation">Donations</option>
                        <option value="Fundraising">Fundraising</option>
                        <option value="Association">Association</option>
                        <option value="Campaign">Campaigns</option>
                        <option value="" disabled selected>- Private -</option>
                        <option value="Staff">Staffs</option>
                        <option value="Vehicle">Vehicles</option>
                        <option value="Warehouse">Warehouses</option>
                        <option value="Trip">Trips</option>
                        <option value="" disabled selected>- Other -</option>
                        <option value="Email_Verification">Email verifications</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="ID" class="form-label">ID</label>
                    <select id="IDs" class="form-control mb-2 d-none"></select>
                    <input type="text" id="ID" maxlength="16" class="form-control">
                </div>

                <div class="mb-3">
                    <h5 class="form-label">Database information:</h5>
                    <p class="mb-0" th:text="${'Table count: ' + dbstat.totalTables}"></p>
                    <p class="mb-0" th:text="${'Total rows: ' + dbstat.totalRows}"></p>
                </div>
                <div class="mb-3 d-none tablestat" th:id="'IDTable_' + ${table.key}" th:each="table : ${dbstat.tableRowCounts.entrySet()}">
                    <h5 class="form-label">Table information:</h5>
                    <p class="mb-0" th:text="${'Name: ' + table.key}"></p>
                    <p class="mb-0" th:text="${'Rows count: ' + table.value}"></p>
                </div>

                <div id="error" class="alert alert-danger d-none">Please select and input values.</div>

                <button type="submit" class="btn btn-primary w-100">Go to entry</button>

                <script>
                    const error = document.getElementById('error');
                    const table = document.getElementById('table');
                    const id = document.getElementById('ID');
                    const ids = document.getElementById('IDs');

                    function addSelect() {
                        fetch('/admin/list/' + table.value)
                            .then(res => res.json())
                            .then(data => {
                                document.querySelectorAll(".tablestat").forEach(el => el.classList.add("d-none"));
                                document.getElementById("IDTable_" + table.value.toLowerCase()).classList.remove('d-none');
                                ids.classList.remove('d-none');
                                ids.innerHTML = '<option value="" disabled selected>- Select an item -</option>';
                                data.forEach(item => {
                                    if (table.value === 'Donation_Request' || table.value === 'Fundraising' || table.value === 'Campaign' || table.value === 'Notification') {
                                        ids.innerHTML += `<option value="${item.ID}">${item.ID} - ${item.Title}</option>`;
                                    }
                                    else if (table.value === 'Warehouse' || table.value === 'Vehicle' || table.value === 'Association') {
                                        ids.innerHTML += `<option value="${item.ID}">${item.ID} - ${item.Name}</option>`;
                                    }
                                    else if (table.value === 'User' || table.value === 'Staff') {
                                        ids.innerHTML += `<option value="${item.ID}">${item.ID} - ${item.FirstName} - ${item.LastName}</option>`;
                                    }
                                    else if (table.value === 'User' || table.value === 'Staff') {
                                        ids.innerHTML += `<option value="${item.ID}">${item.ID} - ${item.FirstName} - ${item.LastName}</option>`;
                                    } else {
                                        ids.classList.add('d-none');
                                    }
                                })
                        });
                    }

                    document.getElementById('databaseForm').addEventListener('submit', function (e) {
                        e.preventDefault();
                        if (table.value && (id.value || ids.value)) {
                            error.classList.add('d-none');
                            window.location.href = '/admin/edit/' + table.value + '/' + (id.value ? id.value : ids.value);
                        } else {
                            error.classList.remove('d-none');
                        }
                    });

                    id.addEventListener("input", () => {
                        ids.disabled = !!id.value;
                    });
                </script>
            </form>
        </section>

    </div>


</main>

<!-- Scripts -->
<script src="/js/app.js"></script>
<script src="/js/pagecarousel.js"></script>

<script src="/pwa-init.js"></script>



<div th:replace="/fragments/bottom-nav-admin :: adminBottomNav" id="bottomNav"></div>

</body>
</html>